todo
1. optimize hyperparameters
2. clean dataset
    - balance
3. data augmentation
4. add requirments.txt
5. correct title (of file as well)
6. go through all variable names
7. ask which types of groups should "be in focus". Do disabled people count?
8. more advaned duplicate dropping?
9. balancing the dataset needed?

# Hate Detection

In [581]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import confusion_matrix, f1_score

from keras.callbacks import EarlyStopping
from keras.layers import SimpleRNN, LSTM, GRU, Bidirectional, Dense, Embedding
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

### Data Exploration

In [582]:
data = pd.read_csv('hate-text.csv')
data

,case_id,test_case,label_gold,target_ident
0,1,I hate women.,hateful,women
1,2,I hate trans people.,hateful,trans people
2,3,I hate gay people.,hateful,gay people
3,4,I hate black people.,hateful,black people
4,5,I hate disabled people.,hateful,disabled people
...,...,...,...,...
3896,3897,Gay people are all complete 4ssholes.,hateful,gay people
3897,3898,Black people are all complete 4ssholes.,hateful,black people
3898,3899,Disabled people are all complete 4ssholes.,hateful,disabled people
3899,3900,Muslims are all complete 4ssholes.,hateful,Muslims
3900,3901,Immigrants are all complete 4ssholes.,hateful,immigrants

While the dataset is quite balanced in the target groups, it's still assymetric when it comes to the number of hate/non-hate texts

In [583]:
# Using display() to display both at the same time
display(
    pd.DataFrame(data['label_gold'].value_counts()),
    pd.DataFrame(data['target_ident'].value_counts())
)

             count
label_gold
hateful       2659
non-hateful   1242

                 count
target_ident
gay people         577
women              535
disabled people    510
Muslims            510
black people       504
trans people       485
immigrants         485

No need to prune unusually short/long texts

In [584]:
print(
    f'Shortest: {len(data["test_case"].iloc[0])}\n'
    f'Longest: {len(data["test_case"].iloc[-1])}'
)

Shortest: 14
Longest: 38

No duplicate texts found

In [585]:
print(f'''duplicate texts: {data['test_case'].duplicated().any()}''')

duplicate texts: False

### Data cleaning/pruning

Drop and rename columns to something more suitable

In [586]:
data = data.drop('case_id', axis=1)
data = data.rename(
    columns=
    {
        'test_case': 'text',
        'label_gold': 'label',
        'target_ident': 'target',
    }
)

data.head()

                       text    label           target
0            I hate women.   hateful            women
1     I hate trans people.   hateful     trans people
2       I hate gay people.   hateful       gay people
3     I hate black people.   hateful     black people
4  I hate disabled people.   hateful  disabled people

Balance the dataset

###### Note: It appears as though balancing the dataset on the hate/non-hate side causes a slight imbalance in the target group, specifically for the target of "gay people". This shouldn't be an issue given the minute difference, but it's definitely worth pointing out

In [587]:
# randomly sample rows with label of "hateful" and drop them
rows_indexes_to_remove = data[data['label'] == 'hateful'].sample(n=1417).index
data = data.drop(rows_indexes_to_remove)
data = data.reset_index(drop=True)

# Using display() to display both at the same time
display(
    pd.DataFrame(data['label'].value_counts()),
    pd.DataFrame(data['target'].value_counts())
)

             count
label
hateful       1242
non-hateful   1242

                 count
target
gay people         372
women              325
Muslims            309
black people       304
immigrants         298
disabled people    298
trans people       283

### Preprocessing