todo
1. optimize hyperparameters
2. clean dataset
    - balance
3. data augmentation
4. add requirments.txt
5. correct title (of file as well)
6. go through all variable names
7. ask which types of groups should "be in focus". Do disabled people count?
8. more advaned duplicate dropping?
9. balancing the dataset needed?
10. dedicated train test split?
11. data augmentation only on train?
12. remove duplicates a second time
13. train test split after tokenization?

# Hate Detection

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import confusion_matrix, f1_score

from keras.callbacks import EarlyStopping
from keras.layers import SimpleRNN, LSTM, GRU, Bidirectional, Dense, Embedding
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences


from random import sample

### Data Exploration

In [81]:
data = pd.read_csv('hate-text.csv')
data

,case_id,test_case,label_gold,target_ident
0,1,I hate women.,hateful,women
1,2,I hate trans people.,hateful,trans people
2,3,I hate gay people.,hateful,gay people
3,4,I hate black people.,hateful,black people
4,5,I hate disabled people.,hateful,disabled people
...,...,...,...,...
3896,3897,Gay people are all complete 4ssholes.,hateful,gay people
3897,3898,Black people are all complete 4ssholes.,hateful,black people
3898,3899,Disabled people are all complete 4ssholes.,hateful,disabled people
3899,3900,Muslims are all complete 4ssholes.,hateful,Muslims
3900,3901,Immigrants are all complete 4ssholes.,hateful,immigrants

The dataset contains some missing values in the target_ident column, which we'll have to deal with later

In [82]:
# Using display() to display both at the same time. Won't comment any future use of display() (for obvious reasons)
display(
    data.isnull().any(),
    data[data.isna().any(axis=1)]
)

case_id         False
test_case       False
label_gold      False
target_ident     True
dtype: bool

,case_id,test_case,label_gold,target_ident
1271,1272,"Fucking hell, what a day.",non-hateful,NaN
1272,1273,That's a great fucking idea.,non-hateful,NaN
1273,1274,No fucking way.,non-hateful,NaN
1274,1275,I'm so fucking excited.,non-hateful,NaN
1275,1276,Are you fucking kidding me?,non-hateful,NaN
...,...,...,...,...
3097,3098,Pro lifers should get the fuck out of our coun...,non-hateful,NaN
3098,3099,Most gun dealers are seriously fucked in the h...,non-hateful,NaN
3099,3100,"By nature, corporate accountants are just shit...",non-hateful,NaN
3100,3101,Most real estate agents are absolute bastards.,non-hateful,NaN
3101,3102,Of course that dumbass was a snowboarder.,non-hateful,NaN

No duplicate texts found

In [83]:
print(f'''duplicate texts: {data['test_case'].duplicated().any()}''')

duplicate texts: False

While the dataset is quite balanced in the target groups, it's still assymetric when it comes to the number of hate/non-hate texts

In [84]:
display(
    pd.DataFrame(data['label_gold'].value_counts()),
    pd.DataFrame(data['target_ident'].value_counts())
)

             count
label_gold
hateful       2659
non-hateful   1242

                 count
target_ident
gay people         577
women              535
disabled people    510
Muslims            510
black people       504
trans people       485
immigrants         485

No unusually short/long texts

In [85]:
longest_text_length = data['test_case'].str.len().max()
shortest_text_length = data['test_case'].str.len().min()

longest_text_index = data['test_case'].str.len().idxmax()
shortest_text_index = data['test_case'].str.len().idxmin()

print(
    f'''Shortest: {longest_text_length}, "{data['test_case'][longest_text_index]}"\n'''
    f'''Longest: {shortest_text_length}, "{data['test_case'][shortest_text_index]}"'''
)

Shortest: 104, "When will it finally be clear to people that it's in a disabled person's nature to be an annoying prick?"
Longest: 11, "Ihate women"

### Data cleaning

Drop and rename columns to something more suitable

In [86]:
data = data.drop('case_id', axis=1)
data = data.rename(
    columns=
    {
        'test_case': 'text',
        'label_gold': 'label',
        'target_ident': 'target',
    }
)

data.head()

                       text    label           target
0            I hate women.   hateful            women
1     I hate trans people.   hateful     trans people
2       I hate gay people.   hateful       gay people
3     I hate black people.   hateful     black people
4  I hate disabled people.   hateful  disabled people

It appears as though non of the missing target data have any relevant hate speech associated with them. This can easily be varified by manually looking at the dataset (given its tiny size). But alas, given my horrendous dyslexia i decided to programmatically varify it as a sanity check

In [87]:
target_search_words = [
    'gay',
    'women',
    'disabled',
    'Muslims',
    'black',
    'trans',
    'immigrants'
]

# Get all rows targets with NaNs
data_target_nans = data[data['target'].isna()]

for index, row in data_target_nans.iterrows():
    for word in target_search_words:
        # Split by words and search each one
        if word in row['text'].split(' '):
            print(f'''found target word in: "{row['text']}" row''')

I'm now confident in dropping all rows with target NaN values

In [88]:
data = data.dropna()

Balance the dataset

In [89]:
hateful = data['label'].value_counts()['hateful']
non_hateful = data['label'].value_counts()['non-hateful']

# Because we've got far more hateful texts
number_of_rows_to_drop = hateful - non_hateful

# randomly sample the rows and and drop them
rows_indexes_to_remove = data[data['label'] == 'hateful'].sample(n=number_of_rows_to_drop).index
data = data.drop(rows_indexes_to_remove)

display(
    pd.DataFrame(data['label'].value_counts()),
    pd.DataFrame(data['target'].value_counts())
)

             count
label
hateful        947
non-hateful    947

                 count
target
gay people         332
black people       282
women              282
Muslims            266
disabled people    258
trans people       240
immigrants         234

Shuffle the dataset

In [90]:
# Shuffles and returns the entire dataset as frac=1
data = data.sample(frac=1)

# Reset index after having both balanced and shuffled
data = data.reset_index(drop=True)
data

,text,label,target
0,The utter scorn I feel for trans people is har...,hateful,trans people
1,There is no hatred in my heart for you trans p...,non-hateful,trans people
2,The CEO of that company is a disabled person.,non-hateful,disabled people
3,"When Muslims talk back to me, I just want to k...",hateful,Muslims
4,Gay people like you are repugnant.,hateful,gay people
...,...,...,...
1889,We each ate a pan-fried faggot for dinner.,non-hateful,gay people
1890,"Y'all some haters, this nigga a genius.",non-hateful,black people
1891,We call cigarettes fags in the UK.,non-hateful,gay people
1892,My manager is also a disabled person.,non-hateful,disabled people
1893,Most gay people are seriously fukced in the he...,hateful,gay people

In [91]:
print(
    f'''Shortest: {data['text'].str.len().min()}\n'''
    f'''Longest: {data['text'].str.len().max()}'''
)

Shortest: 11
Longest: 101

In [92]:
max_words_to_use = 1000

# Tokenize the text data (convert them into "sequences")
tokenizer = Tokenizer(num_words=max_words_to_use) # Consider only using the top 1000 words
tokenizer.fit_on_texts(data['text'])
tokenized_texts = tokenizer.texts_to_sequences(data['text'])

# printing using loop for easier viewing (won't mention again)
for i in range(5):
    print(f'seq {i}: {tokenized_texts[i]}')

seq 0: [9, 567, 568, 6, 209, 19, 16, 1, 18, 459, 3, 3, 281, 195, 569]
seq 1: [53, 18, 44, 155, 12, 41, 310, 19, 4, 16, 1]
seq 2: [9, 311, 17, 11, 312, 18, 5, 15, 23]
seq 3: [122, 24, 261, 570, 3, 21, 6, 25, 164, 3, 210, 56]
seq 4: [14, 1, 7, 4, 2, 460]

The longest series of tokenized words is only 20 items. Thus, we'll set our padding length accordingly.

In [95]:
longest_tokenized_text = max(tokenized_texts, key=len)
print(f'longest sequence of tokenized text: {len(longest_tokenized_text)}')

longest sequence of tokenized text: 20

In [94]:
max_sequence_length = 20

# Pad the sequences to make them of uniform length
tokenized_padded_texts = pad_sequences(tokenized_texts, maxlen=max_sequence_length)

for i in range(5):
    print(f'seq {i}: {tokenized_padded_texts[i]}')

seq 0: [  0   0   0   0   0   9 567 568   6 209  19  16   1  18 459   3   3 281
 195 569]
seq 1: [  0   0   0   0   0   0   0   0   0  53  18  44 155  12  41 310  19   4
  16   1]
seq 2: [  0   0   0   0   0   0   0   0   0   0   0   9 311  17  11 312  18   5
  15  23]
seq 3: [  0   0   0   0   0   0   0   0 122  24 261 570   3  21   6  25 164   3
 210  56]
seq 4: [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  14   1   7   4
   2 460]

In [132]:
# One-hot encode the labels
label_binarizer = LabelBinarizer()
onehot_encoded_labels = label_binarizer.fit_transform(data['label'])
onehot_encoded_targets = label_binarizer.fit_transform(data['target'])


print(f'labels: {onehot_encoded_labels[0]}')
print(f'targets: {onehot_encoded_targets[0]}\n')

for i in range(10):
    # the output looks identical for both
    print(f'label/target {i}: {onehot_encoded_labels[i][0]}')

labels: [0]
targets: [0 0 0 0 0 1 0]

label/target 0: 0
label/target 1: 1
label/target 2: 1
label/target 3: 0
label/target 4: 0
label/target 5: 1
label/target 6: 1
label/target 7: 0
label/target 8: 1
label/target 9: 0