todo
1. optimize hyperparameters
2. clean dataset
    - balance
3. data augmentation
4. add requirments.txt
5. correct title (of file as well)
6. go through all variable names
7. ask which types of groups should "be in focus". Do disabled people count?
8. more advaned duplicate dropping?

# Hate Detection

In [392]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import confusion_matrix, f1_score

from keras.callbacks import EarlyStopping
from keras.layers import SimpleRNN, LSTM, GRU, Bidirectional, Dense, Embedding
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

### Data Exploration

In [393]:
data = pd.read_csv('hate-text.csv')
data

,case_id,test_case,label_gold,target_ident
0,1,I hate women.,hateful,women
1,2,I hate trans people.,hateful,trans people
2,3,I hate gay people.,hateful,gay people
3,4,I hate black people.,hateful,black people
4,5,I hate disabled people.,hateful,disabled people
...,...,...,...,...
3896,3897,Gay people are all complete 4ssholes.,hateful,gay people
3897,3898,Black people are all complete 4ssholes.,hateful,black people
3898,3899,Disabled people are all complete 4ssholes.,hateful,disabled people
3899,3900,Muslims are all complete 4ssholes.,hateful,Muslims
3900,3901,Immigrants are all complete 4ssholes.,hateful,immigrants

##### While the dataset is quite balanced in the target groups, it's still assymetric when it comes to the number of hate/non-hate texts

In [394]:
# Using display() to display both at the same time
display(
    pd.DataFrame(data['label_gold'].value_counts()),
    pd.DataFrame(data['target_ident'].value_counts())
)

             count
label_gold
hateful       2659
non-hateful   1242

                 count
target_ident
gay people         577
women              535
disabled people    510
Muslims            510
black people       504
trans people       485
immigrants         485

##### No need to prune unusually short/long texts

In [395]:
print(
    f'Shortest: {len(data["test_case"].iloc[0])}\n'
    f'Longest: {len(data["test_case"].iloc[-1])}'
)

Shortest: 14
Longest: 38

##### No duplicate texts

In [396]:
print(f'''duplicate texts: {data['test_case'].duplicated().any()}''')

duplicate texts: False

### Data cleaning/pruning

##### Drop and rename columns to something more suitable

In [397]:
data = data.drop('case_id', axis=1)
data = data.rename(
    columns=
    {
        'test_case': 'text',
        'label_gold': 'label',
        'target_ident': 'target',
    }
)

data

                                             text    label           target
0                                  I hate women.   hateful            women
1                           I hate trans people.   hateful     trans people
2                             I hate gay people.   hateful       gay people
3                           I hate black people.   hateful     black people
4                        I hate disabled people.   hateful  disabled people
...                                           ...      ...              ...
3896       Gay people are all complete 4ssholes.   hateful       gay people
3897     Black people are all complete 4ssholes.   hateful     black people
3898  Disabled people are all complete 4ssholes.   hateful  disabled people
3899          Muslims are all complete 4ssholes.   hateful          Muslims
3900       Immigrants are all complete 4ssholes.   hateful       immigrants

[3901 rows x 3 columns]

##### Balance the dataset

In [398]:
data

                                             text    label           target
0                                  I hate women.   hateful            women
1                           I hate trans people.   hateful     trans people
2                             I hate gay people.   hateful       gay people
3                           I hate black people.   hateful     black people
4                        I hate disabled people.   hateful  disabled people
...                                           ...      ...              ...
3896       Gay people are all complete 4ssholes.   hateful       gay people
3897     Black people are all complete 4ssholes.   hateful     black people
3898  Disabled people are all complete 4ssholes.   hateful  disabled people
3899          Muslims are all complete 4ssholes.   hateful          Muslims
3900       Immigrants are all complete 4ssholes.   hateful       immigrants

[3901 rows x 3 columns]

In [431]:
from random import randint

randint(1, 2)

1

In [462]:
import pandas as pd

# Your original DataFrame
df = {
    'intent': ['hate', 'hate', 'neutral', 'hate', 'hate', 'neutral'],
    'Age': [25, 30, 22, 35, 11, 47],
}

df = pd.DataFrame(df)

df

    intent  Age
0     hate   25
1     hate   30
2  neutral   22
3     hate   35
4     hate   11
5  neutral   47

In [461]:
# Select the indices of rows with 'hate' intent randomly
rows_to_remove = df[df['intent'] == 'hate'].sample(n=2).index

# Drop the selected rows
df = df.drop(rows_to_remove)

# Reset the index after dropping rows
df = df.reset_index(drop=True)

df

ValueError: a must be greater than 0 unless no samples are taken

In [439]:
sample_df = df.groupby("intent").sample(n=2, replace=False)
sample_df

    intent  Age
3     hate   90
8     hate   89
6  neutral    0
9  neutral   90